.tag-container{
    border: solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}


.tag-icon{
    width: 1.5em;
    height:1.5em;
}

.tag-name{
    margin:0;
}