:root {
  --primary-color: #4A90E2; 
  --secondary-color: #1C3A63; 
  --accent-color: #50E3C2;
  --background-color: #1A1A2E;
  --text-color: #FFFFFF;
  --pattern-url: url("../public/images/patterns/triple.png");
}

html, body {
    background: var(--background-color); 
    z-index: -2;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}


.App {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    z-index: 0;
}


.App::before{
    content: "";
    position: absolute;
    inset: 0;
    background:var(--pattern-url) repeat;
    opacity: 0.035;
    filter: invert();
    pointer-events: none;
    z-index: -1;
}
